/* Define root-level CSS variables for color themes */
:root {
    --background: white;
    --header: #333;
    --header-text: white;
}

.dark-theme {
    --background: #011e09;
    --header: white;
    --header-text: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for the body and general page layout */
/* Set font family and background color */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background);
}

/* Styling for the header and navigation bar */
/* Styling for the page header */
header {
    background-color: var(--header);
    color: var(--header-text);
    text-align: center;
    padding: 1.5em;
}

/* Styling for the navigation bar */
nav {
    background-color: #d0cccc;
    padding: 1em;
    margin-bottom: 30px;
}

/* Styling for navigation links and dropdown menu */
/* Style the navigation links as a horizontal list */
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

/* Style for navigation link text */
nav a {
    text-decoration: none;
    font-size: 1.3em;
    color: #000000;
}

nav a:hover {
    text-decoration: underline;
    color: orangered;
}

/* Styling for the currently active page in navigation */
.currentpage {
    background-color: #333;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

/* Styling for the game links when they are the current page */
.currentpage#game1,
.currentpage#game2,
.currentpage#game3,
.currentpage#game4 {
    background-color: #333;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

/* Hover effect for game links when they are the current page */
.currentpage#game1:hover,
.currentpage#game2:hover,
.currentpage#game3:hover,
.currentpage#game4:hover {
    text-decoration: underline;
    color: orangered;
}

/* Styling for dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d0cccc;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

li:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    color: #000000;
}

.dropdown-content a:hover {
    text-decoration: underline;
    color: orangered;
}

/* Styling for the main content section */
main {
    margin: 30px;
}


/* Styling for game thumbnails */
/* Display game thumbnails in a row with spacing */
.game-thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2em;
}

/* Styling for individual game thumbnails */
.game-thumbnail {
    background-color: #d0cccc;
    text-align: center;
    padding: 1em;
    margin: 1em;
}

.game-thumbnail img {
    width: 250px;
    height: 250px;
    border: none;
    background: none;
}

h3 {
    margin-top: 10px;
}

.game-thumbnail a {
    display: block;
    margin-top: 1em;
    padding: 0.5em;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}



/* Number Guesser game styles */
/* Styling for the game section */
.game1 {
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    display: grid;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #d0cccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the input field for number guessing */
#userGuess {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

/* Style the "Guess" button */
#guessButton {
    background-color: #333;
    color: #fff;
    font-size: 16px;
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the result message */
#result {
    font-size: 18px;
    margin: 10px;
}

.winner-img {
    max-width: 50%;
}



/* Rock Paper Scissors game styles */
/* Styling for the game description section */
.game-description {
    /* Set max width, background color, and border radius */
    max-width: 760px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d0cccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

/* Styling for the game description header */
.game-description h2 {
    margin-bottom: 10px;
    color: #333;
}

/* Styling for paragraphs in the game description */
.game-description p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.game-description ol {
    list-style-type: decimal;
    margin: 20px;
}

.game-description ul {
    list-style-type: disc;
    margin: 20px;
}

.game-description li {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

/* Styling for the game container and components  */
.game-container {
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #d0cccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.player-choice {
    text-align: center;
    margin: 10px;
}

/* Styling for the player's choice buttons */
.selection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.selection button {
    margin: 20px;
    padding: 25px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgb(41, 40, 40);
    font-size: 33px;
    color: orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Styling for score display containers */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
}

.section {
    width: 250px;
    text-align: center;
    margin: 10px;
}

.info {
    background: rgb(10, 10, 10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.info span,
.info h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0px 10px;
    font-family: sans-serif;
    color: white;
}

/* Styling for the player's and computer's choice display */
.show,
.show-computer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(41, 40, 40);
    padding: 20px;
}

/* Styling for the player's and computer's choice icon */
.show i,
.show-computer i {
    font-size: 100px;
    color: orange;
}

/* Styling for result messages */
.result p {
    padding: 5px;
    font-size: 20px;
    color: #333;
}

/* Styling for the play-again button */
.play-again {
    display: block;
    text-align: center;
    margin: 3rem auto 1rem auto;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.play-again:hover {
    background-color: #555;
}



/* Tic Tac Toe game styles*/
/* Style the game board */
.game {
    max-width: 760px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #d0cccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.square {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 60px;
    line-height: 100px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #444;
}

/* Style the X and O symbols */
.square div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style the restart button */
.game .board button {
    position: absolute;
    top: 360px;
    left: 140px;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Additional styles can be added based on your design preferences */

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    padding: 30px;
    text-align: center;
    position: relative;
}

/* Example styles for the count-bar */
.count-bar {
    max-width: 760px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}

.win-count {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Black Jack game styles */
/* Styling for the game description section */
.gameDescriptionSection {
    /* Set max width, background color, and border radius */
    max-width: 760px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d0cccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for the game description header */
.gameDescriptionSection h2 {
    margin-bottom: 10px;
    color: #333;
}

/* Styling for paragraphs in the game description */
.gameDescriptionSection p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.gameDescriptionSection ol {
    list-style-type: decimal;
    margin: 20px;
}

.gameDescriptionSection ul {
    list-style-type: disc;
    margin: 20px;
}

.gameDescriptionSection li {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

/* Styling for the game container and components  */
.gameContainer {
    max-width: 760px;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #d0cccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.playerCards input {
    margin: 5pt;
}


/* Styling for the Back Arrow section */
.back-arrow {
    text-align: left;
    margin: 20px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
}

button:hover {
    background-color: #555;
}

span {
    font-size: 15px;
    margin: 5px;
}



/* contact styles */
.about-section,
.description-section {
    max-width: 760px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d0cccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.about-section h2,
.description-section h2 {
    color: #333;
}

.about-section p,
.description-section p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d0cccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-form select {
    appearance: none;
    padding: 10px 30px 10px 10px;
    background: url('dropdown-icon.png') no-repeat right #fff;
    background-size: 20px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}

#thankYouMessage {
    display: none;
    color: #333;
    font-size: 18px;
    margin: 20px;
}



/* Media queries for responsiveness */
@media only screen and (max-width: 760px) {

    /* Media query for smaller screens (e.g., mobile devices) */
    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin-bottom: 10px;
    }

    .dropdown-content {
        position: static;
        display: none;
    }

    .section {
        max-width: 100%;
    }
}